body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  background: #0077c8;
  padding: 10px;
  margin-top: 0px;
}

header h1 {
  text-align: center;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}
table {
  table-layout: fixed;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.thead {
  display: block;
}
